h1 {
    font-family: 'Oswald', sans-serif;
    color: rgb(3, 63, 3);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

.est1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .est2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    align-items: center;
  }